<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherMap_PP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C3C3ED02723FC4B00ED8B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3C3EE92723FC4C00ED8B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3C3EF32723FC4C00ED8B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
